@model EditProductViewModel

<h2>Edit product</h2>

<form method="post" asp-area="ShopAdministrator" asp-controller="ShopМanagement" asp-action="AddProduct">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" class="form-control" />
        <span asp-validation-for="@Model.Description" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImgURL"></label>
        <input asp-for="@Model.ImgURL" class="form-control" />
        <span asp-validation-for="@Model.ImgURL" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Quantity"></label>
        <input asp-for="@Model.Quantity" class="form-control" />
        <span asp-validation-for="@Model.Quantity" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" class="form-control" />
        <span asp-validation-for="@Model.Price" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}