@model IEnumerable<ShoppingCardViewModel>

<h2>Shopping card</h2>

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Вашата количка</h1>                                        
                                    </div>
                                    

                                    @foreach (var product in Model)
                                    {
                                        <hr class="my-4">
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="@product.ImgURL"
                                                     class="img-fluid rounded-3" alt="Cotton Flag">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">@product.Name</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                
                                                <form method="post" asp-controller="shop" asp-action="decreasingthenumbertobepurchased" asp-route-id="@product.Id">
                                                    <input type="submit" value="-" />
                                                </form>

                                                <p class="m-1">@product.Quantity</p>

                                                <form method="post" asp-controller="Shop" asp-action="IncreasingTheNumberToBePurchased" asp-route-id="@product.Id">
                                                    <input type="submit" value="+"/>
                                                </form>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">@product.PricePerQuantity</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                    }


                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a asp-controller="Shop" asp-action="AllProducts" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Обратно към магазина
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Кратко обощение:</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Брой арикули - @Model.Sum(a => a.Quantity)</h5>
                                        <h5>@Model.Sum(p => p.TotalForProduct)</h5>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Дължите общо:</h5>
                                        <h5>@Model.Sum(p => p.TotalForProduct) лева</h5>
                                    </div>

                                  <form method="get" asp-controller="Shop" asp-action="OrderProducts">
                                      <input type="submit" value="Плащане"/>
                                  </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

